# Pycharm files
.idea/
src/egg_segmentation_size/__pycache__/

# poetry
poetry.lock

# data files
src/egg_segmentation_size/data/

# Unit test files
.coverage
.coverage.*
.cache
.pytest_cache/
tests/__pycache__/

# mypy files
.mypy_cache/

# Probable environments files
.env
.venv
env/
venv/
